@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom colors */
:root {
  --color-mindful-white: #ffffff;
  --color-mindful-black: #000000;
  --color-main: #FF197D;
}

/* Hamburger Menu Styles */
.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  height: 3em;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: var(--color-main);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition: stroke-dasharray 0.6s cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

/* Add this to your existing styles */
.generating {
  cursor: wait !important;
}

body.generating {
  cursor: wait !important;
} 